/* Style for the navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
    margin-bottom: 0;
    margin-top: 0%;
  }

  /* Style for the logo */
  .logo a {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-right: 10px;
  }

  /* Style for the menu links */
  .menu a {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 18px;
    color: white;
    text-decoration: none;
  }

  /* Style for the active link */
  .menu a.active {
    border-bottom: 3px solid white;
  }
  .admin a.active {
    border-bottom: 3px solid white;
  }
  /* Style for the admin link */
  .admin a {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 18px;
    color: white;
    text-decoration: none;
  }

  /* Style for the menu toggle */
  .menu-toggle i {
    font-size: 24px;
    color: white;
    cursor: pointer;
  }

  /* Style for the main content */
  main {
    margin: 20px;
  }

  .admin {
    margin-left: auto;
    padding-right: 20px;
    /* padding-top: 0%; */
  }
.dropdown{
  padding: 0px;
  width: fit-content;
}
/* Add styling here */
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 10px;
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid rgb(152, 147, 147);
  border-top: 1px solid rgb(152, 147, 147);
}
th {
  padding: 0%;
  display: none;
  border-bottom: none;
}
img {
  width: 200px;
  height: 200px;
  margin-right: 2px;
}
td.description{
  width: 50%;
  margin-left: 2px;
}
td.price{
  padding-top: 50px;
  font-size: xx-large;
  text-align: center;
  
}
td button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-outline-danger {
  background-color: #dc3545 !important;
}
.btn-outline-primary {
  background-color: #61abf5 !important;
}

.dropdown{
  margin-left: 10px;
}
.modal-dialog {
  margin-top: 100px;
  
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.modal.show + .modal-backdrop {
  display: block;
}

/* Styles for modal content */
.modal-content { 
  overflow-y: auto; /* Allow vertical scrolling of content */
}
.avail-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

/* Styles for modal header */
.modal-header {
  background-color: #007bff;
  color: #fff;
}

.modal-header h5.modal-title {
  margin: 0;
  /* align-items: center; */
}

.compare{
  align-items: center;
}

/* Styles for modal body */
.modal-body {
  padding: 20px;

}

#features {
  margin-top: 20px;
  text-align: left;
}

/* Styles for form inside modal */
.form-group {
  margin-bottom: 20px;
  align-content: center;
  width: 100%;
}

.form-control {
  width: 100%;
}

img.about {
  align-self: center;
  width:80%;
  height: 80%;
}
.about {
  display: block;
  margin: auto;
}

table.contact {
align-content: right;
border: none;
}
.form-row {
  padding-bottom: 10px;
}


